/*BUTTONS*/
.btn-default {
  background-color: $color-black;
  color: $color-white;
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 1.5rem 2rem;
  text-transform: capitalize;
  transition: all .2s;

  &.btn--showcase {

    &:hover {
      background-color: $color-white;
      color: $color-carrot;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.06);
    }
  }

  &.btn--read-more {
    background: $color-white;
    color: $color-black;

    &:hover {
      color: $color-carrot;
    }
  }

  &.btn--about-read-more {

    &:hover {
      color: $color-carrot;
    }
  }

  &.btn--submit {

    &:hover {
      color: $color-carrot;
    }
  }
}

/*NAVBAR*/
.navbar {
  background-color: $color-black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  opacity: .95;
  box-shadow: 0 1px 1px $color-white;
}


.mobile-toggle-btn {
  display: inline-block;
  color: $color-carrot;
  cursor: pointer;
  margin: 1.3rem 2rem;

  @include for-breakpoint(md) {
    display: none;
  }
}

.logo {
  display: none;
  text-transform: uppercase;
  color: $color-white;
  margin-left: 2rem;

  @include for-breakpoint(md) {
    display: inline-block;
  }
}

.nav {
  height: 0;
  overflow: hidden;
  transition: height .6s;

  @include for-breakpoint(md) {
    height: 100%;
    margin-left: auto;
  }

  &__item {
    list-style: none;

    @include for-breakpoint(md) {
      display: inline-block;
    }
  }

  &__link:link,
  &__link:visited {
    display: block;
    color: $color-white;
    padding: 2rem;
    transition: all .2s;

    &:hover {
      background-color: lighten($color-black, 10%);
      color: #e67e22;
    }

    &:active {
      background-color: lighten($color-black, 5%);
    }
  }
}

/*SHOWCASE*/
.showcase {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-image: url("../images/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

.heading-primary {
  text-transform: capitalize;
  font-weight: bold;
  color: $color-white;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  letter-spacing: .3rem;
}

.lead {
  color: $color-white;
  margin-bottom: 3rem;
  text-align: center;
}

/*SECTION INFO*/
.section-info {
  background: linear-gradient(rgba(black, .5), rgba(black, .5)), url("../images/photo-1.jpg");
  background-size: cover;
  padding: map_get($section, p-xs);

  @include for-breakpoint(md) {
    padding: 0;
  }
}

.info-left {
  display: none;
  height: 100%;
  background: url("../images/photo-1.jpg");
  background-size: cover;
  background-position: center;

  @include for-breakpoint(md) {
    display: inherit;
  }
}

.info-right {
  display: block;
  text-align: center;
  color: $color-white;

  @include for-breakpoint(md) {
    padding: map_get($section, p-sm) $p-md;
    background-color: #5e5e5e;
  }

  @include for-breakpoint(lg) {
    padding-left: $p-big;
    padding-right: $p-big;
  }
}

.heading-tertiary {
  text-transform: capitalize;
  font-size: 2.6rem;
}

/*FEATURES*/
.section-features {

}

.feature {
  @include box();
  padding-left: 5rem;
  padding-right: 5rem;

  @include for-breakpoint(md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

//.row > div:not(:last-child) .feature {
//  margin-bottom: $m-big;
//}

.row div:nth-child(2) .feature {
  background-color: #e67e22;
}

//.col-lg-4:not(:last-child) article {
//  color: green;
//}


/*FOOTER*/
.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $color-black;

  &__face-icon {

  }

  &__text {
    color: $color-white;

  }
}

.facebook-icon {
  align-self: center;
  color: $color-white;
}

//////////////////////////////////////
//PAGE ABOUT

/*ABOUT*/
.section-about {
  padding-top: map_get($section, p-xs);
  padding-bottom: map_get($section, p-xs);

  &:last-child p {
    color: green;
  }

  @include for-breakpoint(md) {
    padding-top: map_get($section, p-sm);
    padding-bottom: map_get($section, p-sm);
  }
}

.hidden-text {
  display: none;
}

/*TESTIMONIALS*/
.section-testimonials {
  padding-top: map_get($section, p-xs);
  padding-bottom: map_get($section, p-xs);
  background: url("../images/test-bg.jpg") center/cover no-repeat;

  @include for-breakpoint(md) {
    padding-top: map_get($section, p-sm);
    padding-bottom: map_get($section, p-sm);
  }
}

.testimonial {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: rgba($color-carrot, .9);
  line-height: 2.4rem;
  border-radius: .4rem;
  color: $color-white;

  @include for-breakpoint(md) {
    flex-flow: row;
  }

  &__user-box {

  }

  &__user-img {
    width: 5rem;
  }

  &__user-name {

  }

  &__text {
     
  }
}

/*PAGE CONTACT*/
/*ABOUT*/
.section-form {
  padding-top: map_get($section, p-xs);
  padding-bottom: map_get($section, p-xs);

  @include for-breakpoint(md) {
    padding-top: map_get($section, p-sm);
    padding-bottom: map_get($section, p-sm);
  }
}

.heading-secondary {
  text-transform: capitalize;
  font-size: 4rem;
  letter-spacing: .3rem;
}

form {
  
}                         

.form-group {
  margin-bottom: 2rem;

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input {
    display: block;
    border: 1px solid;
    padding: 0.7rem;
    border-radius: .2rem;
  }

  textarea {
    border: 1px solid;
    padding: 0.7rem;
    border-radius: .2rem;
  }
}

.section-contact-info {
  background: $color-carrot;
}

.contact-info {
  @include box();
  color: $color-white;
}

                      








