$color-black: #444;
$color-white: #fff;

$color-carrot: #e67e22;
$color-paragraph: #444;

$m-big: 5rem;
$m-bigger: 7.5rem;


/*Section*/
$section: (
        p-xs: 5rem,
        p-sm: 7.5rem
);

$p-md: 4rem;
$p-big: 7rem;
                                      
                                                                                     